.header {
    background: bisque;
    color: #ffffff;
    padding: 10px 20px 0px;
    position: relative;
}

.header__inner {
    max-width: 1230px;
    min-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
}

.header__utilities {
    align-items: center;
}

.header__logo {
    font-size: 24px;
    font-weight: bold;
    color: rgb(239, 115, 32);
    text-decoration: none;
}

.header-nav {
    padding-right: 50px;
}

.welcome {
    margin: 0px;
    text-align: right;
}

.header-nav__greeting {
    color: rgb(239, 115, 32);
    font-size: 18px;
    text-decoration-color: aquamarine;
}

.header-nav__inner {
    display: flex;
    align-items: center; /* 縦の中央揃え */
    justify-content: flex-end; /* 右寄せ */
    margin: 0; /* マージンをリセット */
}

.header-nav__item {
    margin-left: 15px; /* 各アイテムの間隔を設定 */
}

.header-nav__list {
    padding: 10px 15px; /* リンクのパディング */
    text-decoration: none; /* 下線を消す */
    color: rgb(239, 115, 32); /* テキストカラーを統一 */
    background-color: transparent; /* 背景色を透明に */
    border-radius: 5px; /* 角を丸くする */
    transition: background-color 0.3s; /* ホバー時のトランジション */
}

.header-nav__list:hover {
    background-color: rgba(239, 115, 32, 0.2); /* ホバー時の背景色 */
}

.header-nav__button {
    font-size: 15px;
    padding-left: 15px;
    border: none;
    background-color: bisque;
}

main {
    background: cornsilk;
    color: #000000;
    padding: 10px 20px 0px;
    position: relative;
}
